/node_modules
/public/hot
/public/storage
/public/images
/public/files
/public/js
/public/js/app.js
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vendor
.idea
/.vscode
package-lock.json
worker.log
